<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>파일 번역 서비스</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>파일 번역 서비스</h1>
        <div class="file-input-container">
            <input type="file" id="fileInput" name="file" accept=".txt, .srt" style="display: none;">
            <span id="fileName" class="file-name">번역할 파일을 업로드해 주세요.</span>
            <button id="uploadBtn" class="upload-btn">업로드</button>
        </div>
        <div id="progressContainer" style="display: none;">
            <div id="progressBar"><span id="progressPercentage">0%</span></div>
        </div>
        <div id="statusMessage"></div>
        <div id="translationStatus"></div>
        <div id="downloadLinks"></div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>